@font-face {
    font-family: "Izosevka Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src:
        url("Izosevka-Webfonts-Unhinted/Izosevka-Regular.woff2") format("woff2"),
        url("Izosevka-Unhinted/Izosevka-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Izosevka Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: normal;
    src:
        url("Izosevka-Webfonts-Unhinted/Izosevka-Extended.woff2")
            format("woff2"),
        url("Izosevka-Unhinted/Izosevka-Extended.ttf") format("truetype");
}

@font-face {
    font-family: "Izosevka Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: italic;
    src:
        url("Izosevka-Webfonts-Unhinted/Izosevka-Italic.woff2") format("woff2"),
        url("Izosevka-Unhinted/Izosevka-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Izosevka Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: italic;
    src:
        url("Izosevka-Webfonts-Unhinted/Izosevka-ExtendedItalic.woff2")
            format("woff2"),
        url("Izosevka-Unhinted/Izosevka-ExtendedItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Izosevka Web";
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src:
        url("Izosevka-Webfonts-Unhinted/Izosevka-Bold.woff2") format("woff2"),
        url("Izosevka-Unhinted/Izosevka-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Izosevka Web";
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: normal;
    src:
        url("Izosevka-Webfonts-Unhinted/Izosevka-ExtendedBold.woff2")
            format("woff2"),
        url("Izosevka-Unhinted/Izosevka-ExtendedBold.ttf") format("truetype");
}

@font-face {
    font-family: "Izosevka Web";
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    src:
        url("Izosevka-Webfonts-Unhinted/Izosevka-BoldItalic.woff2")
            format("woff2"),
        url("Izosevka-Unhinted/Izosevka-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Izosevka Web";
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: italic;
    src:
        url("Izosevka-Webfonts-Unhinted/Izosevka-ExtendedBoldItalic.woff2")
            format("woff2"),
        url("Izosevka-Unhinted/Izosevka-ExtendedBoldItalic.ttf")
            format("truetype");
}
