
@font-face {
	font-family: 'Izosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/Izosevka-Regular.woff2') format('woff2'), url('TTF-Unhinted/Izosevka-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Izosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/Izosevka-Extended.woff2') format('woff2'), url('TTF-Unhinted/Izosevka-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Izosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/Izosevka-Italic.woff2') format('woff2'), url('TTF-Unhinted/Izosevka-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Izosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/Izosevka-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/Izosevka-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Izosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/Izosevka-Bold.woff2') format('woff2'), url('TTF-Unhinted/Izosevka-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Izosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/Izosevka-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/Izosevka-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Izosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/Izosevka-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/Izosevka-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Izosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/Izosevka-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/Izosevka-ExtendedBoldItalic.ttf') format('truetype');
}
